/* Work Sans font from to google */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,500;1,700;1,800&family=Poppins:wght@100;500&family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #FF900E;
    padding: 6px 5px;
    margin-bottom: 30px;
}


/* Header Section Styles */

header {
    /* background-color: antiquewhite; */
    background: rgba(255, 144, 14, 0.10);
    /* max-width: 800px; */
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
    /* margin-right: 30px; */
}

li {
    list-style: none;
    margin-right: 30px;
    /* align-items: center; */
}

.nav_title {
    color: #131313;
    font-size: 45px;
    /* align-items: center; */
}


/* Banner Section */

.banner {
    /* align-items: center; */
}

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner_description {
    color: #727272;
    text-align: center;

}

.banner>img {
    width: 100%;
    /* max-width: 800px;
    /* text-align: center; */
    /* margin: 0px auto; */
    /* width: 1440px;
    height: 700px;
    margin-left: 150px; */

    /* margin: 50px 200px; */
}


/* Main Section */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Features Part */

.container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.image_section {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.description_part {
    margin-left: 76px;
}

.featues_title {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.featues_description {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}


.des_text_black {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.des_text_or {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-bottom: 20px; */
}


/* Some Facts Part */

.card_image_container {
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.card {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #FF900E;
    /* padding: 30px 10px 30px 30px; */
    /* padding: 45px 65px 35px 65px; */

}

.card_status {
    color: var(--Dark-02, #424242);
    /* text-align: center; */
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    /* margin-bottom: 7px; */




}

.card_title {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;

}

/* .card_img {
    padding-top: 45px;
    padding-bottom: 150px;
    padding-left: 97px;
    padding-right: 97px;
} */





/* sponsors section */

.sponsors {
    margin-top: 180px;
}

.sponsors_title {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;
}

.sponsors_description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 50px;
    /* 162.5% */
}


.sponsors_image {
    display: flex;
    justify-content: space-around;
}

/* footer section */

.footer_section {
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 1440px;
    margin: 0 auto;
    padding: 18px 0;
    margin-top: 150px;
    margin-bottom: 70px;
}

.footer_description {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






/* banner media query */

/* mobile devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .container,
    .card_image_container {
        flex-direction: column;
    }

    .image_section {
        grid-template-columns: 1fr;
    }

    .description_part {
        margin-left: 20px;
        padding: 20px;
    }

    .card_image_container {
        margin-top: 10px;
        padding: 20px;
        gap: 20px;
    }

    .card {
        padding-left: ;
        /* align-items: center; */
    }

    /* sponsors image */

    .sponsors_image {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }





}

@media screen and (min-width: 577px) and (max-width: 968px) {
    header {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    /* .image_section {
        grid-template-columns: 1fr;
    } */

    /* .description_part {
        flex-direction: column;
    } */
}